.front__content {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-right: 10rem;
    padding-bottom: 1rem;
    text-align: right;
}

.footer button {
    margin-right: 2rem;
    font-size: 2rem;
    background-color: transparent;
    border: unset;
}

.front__bottom {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.front__bottom button {
    color: var(--tag-button-color);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.front__bottom button:hover {
    transition: 0.5s;
    padding-top: 0.5rem;
}

.front__bottom button span {
    margin-left: 1rem;
}
