:root {
    --color-blue-10: #C0E6FF;
    --color-blue-20: #7CC7FF;
    --color-blue-50: #4178BE;
    --color-blue-70: #264A60;

    --color-purple-10: #efcef3;
    --color-purple-20: #e4adea;
    --color-purple-50: #c22dd5;
    --color-purple-50: #71237c;
}
