.front__content {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

@media only screen and (max-width: 1024px) {
    .front__content {
        width: 100% !important;
        grid-template-columns: auto auto !important;
    }
}

@media only screen and (max-width: 420px) {
    .front__content {
        width: 100% !important;
        grid-template-columns: auto !important;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-right: 10rem;
    padding-bottom: 1rem;
    text-align: right;
}

.footer button {
    margin-right: 2rem;
    font-size: 2rem;
    background-color: transparent;
    border: unset;
}
