:root {
    --color-blue-50: #4178BE;
    --color-blue-70: #264A60;
    --color-blue-10: #C0E6FF;
    --color-blue-20: #7CC7FF;
}

.app__center {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__center span {
    font-size: 10rem;
}

a {
    text-decoration: none;
}

/*
.tags a {
    border-bottom: 1px solid var(--color-blue-10);
    font-size: 0.8rem;
    margin-right: 1rem;

}
*/


.common__tags a {
    color: var(--color-blue-50);
    margin-right: 1rem;
    border-bottom: 1px solid var(--color-blue-50);
}

.padding__left-05 {
    padding-left: 0.5rem !important;
}

.padding__left-2 {
    padding-left: 2rem !important;
}

